# Ignore my docs
DEV_docs/
# Ignore node_modules for build tools.
node_modules
# Ignore audio files, since they will take up to much room.
games/*/*.mp3
# During testing, the answer file may be in the production location. But we can ignore that.
assets/static/answer.js
