<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="Quotle - Guess the movie based on the quote.">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  {{range .CSS }}
    <link rel="stylesheet" type="text/css" href="{{ . }}">
  {{end}}

</head>

<body>

  <div class="heading">
    <div class="about" id="about_btn">
      <img src="/images/help-circle-black.svg" alt="Question Mark in a Circle, indicating help." width="24" height="24" id="help-circle-img">
    </div>

    <div class="title-card">
      <span>Quotle</span>
    </div>

    <div class="stats" id="stats_btn">
      <img src="/images/award-black.svg" alt="Award Icon" width="24" height="24" id="award-img">
    </div>

    <div class="settings" id="settings_btn">
      <img src="/images/settings-black.svg" alt="Traditional Settings Gear Icon" width="24" height="24" id="settings-img">
    </div>

  </div>

  <div class="gameBoard">

    <div class="audio-player">
      <button id="play-icon">
        <span>
          <img src="/images/loader.svg" alt="Play Audio Icon" width="48" height="48" id="play-icon-img">
        </span>
      </button>
      <audio src="/static/test.ogg" preload="auto" id="audio-element">
        <p>Your browser doesn't support HTML5 audio.</p>
      </audio>

    </div>

    <div class="user-guess">
      <input class="input_field" type="text" placeholder="Enter a Guess" id="user_guess_input"/>
      <button id="submit_btn">
        <span>Submit</span>
      </button>
      <div class="searchResult" id="searchResult"> </div>
    </div>

    <div class="guesses">
      <div class="guess-one guessed"> </div>
      <div class="guess-two guessed"> </div>
      <div class="guess-three"> </div>
      <div class="guess-four"> </div>
      <div class="guess-five"> </div>
      <div class="guess-six guessed"> </div>
    </div>

  </div>

  <div class="modal" id="about_modal">
    <div class="modal-content">

      <div class="msg">
        <p>This is some generic text on how to play the dang game.</p>
      </div>
    </div>
  </div>

  <div class="modal" id="stats_modal">
    <div class="modal-content">

    </div>
  </div>

  <div class="modal" id="settings_modal">
    <div class="modal-content">

    </div>
  </div>

  <footer>
    <a href="https://go.dev">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-plain.svg" alt="Golang Logo" with="32" height="32" id="footer-golang-img">
      <p>Open Source, Made with Golang & ❤</p>
    </a>

    <a href="https://github.com/confused-Techie/Quotle">
      <img src="/images/github-black.svg" alt="Github's Octocat Icon" width="24" height="24" id="footer-github-img">
      <p>Source Code</p>
    </a>

    <a href="https://feathericons.com">
      <img src="/images/feather-black.svg" alt="Feather Icon Project Logo" width="24" height="24" id="footer-feather-icon-img">
      <p>Feather Icons</p>
    </a>

  </footer>

  {{range .JS }}
    <script src="{{ . }}"></script>
  {{end}}

    <noscript>

    </noscript>

</body>
</html>
