<!DOCTYPE html>
<html>
<html lang="{{ .TargetLanguage }}">
<html lang="{{ .TargetLanguage }}" xml:lang="{{ .TargetLanguage }}" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="description" content="Quotle - Guess the movie based on the quote.">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Language" content="{{ .TargetLanguage }}">
  <title>{{ .Title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/favicon.png">
  {{range .CSS }}
    <link rel="stylesheet" type="text/css" href="{{ . }}">
  {{end}}

</head>

<body>

  <div class="heading">
    <div class="about" id="about_btn">
      <img src="/images/help-circle-black.svg" alt="Question Mark in a Circle, indicating help." width="24" height="24" id="help-circle-img">
    </div>

    <div class="title-card">
      <span>Quotle</span>
    </div>

    <div class="stats" id="stats_btn">
      <img src="/images/award-black.svg" alt="Award Icon" width="24" height="24" id="award-img">
    </div>

    <div class="settings" id="settings_btn">
      <img src="/images/settings-black.svg" alt="Traditional Settings Gear Icon" width="24" height="24" id="settings-img">
    </div>

  </div>

  <div class="gameBoard">

    <div class="audio-player">
      <button id="play-icon">
        <span>
          <img src="/images/loader.svg" alt="Play Audio Icon" width="48" height="48" id="play-icon-img">
        </span>
      </button>
      <audio src="/static/test.ogg" preload="auto" id="audio-element">
        <p>
          {{ or (index .TargetStrings "audio-support") (index .DefaultStrings "audio-support") }}
        </p>
      </audio>

    </div>

    <div class="user-guess">
      <input class="input_field" type="text" placeholder="Enter a Guess" id="user_guess_input"/>
      <button id="submit_btn">
        <span>
          {{ or (index .TargetStrings "submit") (index .DefaultStrings "submit") }}
        </span>
      </button>
      <div class="searchResult" id="searchResult"> </div>
    </div>

    <div class="guesses">
      <div class="guess-one" id="guess-one"> </div>
      <div class="guess-two" id="guess-two"> </div>
      <div class="guess-three" id="guess-three"> </div>
      <div class="guess-four" id="guess-four"> </div>
      <div class="guess-five" id="guess-five"> </div>
      <div class="guess-six" id="guess-six"> </div>
    </div>

  </div>

  <div class="modal" id="about_modal">
    <div class="modal-content">

      <div class="msg">
        <p>
          {{ or (index .TargetStrings "how-to") (index .DefaultStrings "how-to") }}
        </p>
        <span class="how-to-director"></span><p>
          {{ or (index .TargetStrings "how-to-director") (index .DefaultStrings "how-to-director") }}
        </p><br/>
        <span class="how-to-genre"></span><p>
          {{ or (index .TargetStrings "how-to-genre") (index .DefaultStrings "how-to-genre") }}
        </p><br/>
        <span class="how-to-both"></span><p>
          {{ or (index .TargetStrings "how-to-both") (index .DefaultStrings "how-to-both") }}
        </p><br/>
        <p>
          {{ or (index .TargetStrings "how-to-thanks") (index .DefaultStrings "how-to-thanks") }}
        </p>
      </div>
      <button class="close" onclick="document.getElementById('about_modal').classList.remove('show');">
        <span>
          {{ or (index .TargetStrings "close") (index .DefaultStrings "close") }}
        </span>
      </button>
    </div>
  </div>

  <div class="modal" id="stats_modal">
    <div class="modal-content">
      <div class="msg" id="stats_modal_msg">

      </div>
      <button class="close" onclick="document.getElementById('stats_modal').classList.remove('show');">
        <span>
          {{ or (index .TargetStrings "close") (index .DefaultStrings "close") }}
        </span>
      </button>
    </div>
  </div>

  <div class="modal" id="settings_modal">
    <div class="modal-content">
      <div class="msg">
        <p>
          {{ or (index .TargetStrings "issue-text") (index .DefaultStrings "issue-text") }}
        </p>
      </div>
      <button class="close" onclick="document.getElementById('settings_modal').classList.remove('show');">
        <span>
          {{ or (index .TargetStrings "close") (index .DefaultStrings "close") }}
        </span>
      </button>
    </div>
  </div>

  <div class="modal" id="winner_modal">
    <div class="modal-content">
      <div class="msg">
        <h3>
          {{ or (index .TargetStrings "winning-text") (index .DefaultStrings "winning-text") }}
        </h3>
      </div>
      <button class="close" onclick="document.getElementById('winner_modal').classList.remove('show');">
        <span>
          {{ or (index .TargetStrings "close") (index .DefaultStrings "close") }}
        </span>
      </button>
    </div>
  </div>

  <div class="modal" id="loser_modal">
    <div class="modal-content">
      <div class="msg">
        <h3>
          {{ or (index .TargetStrings "losing-text") (index .DefaultStrings "losing-text") }}
        </h3>
      </div>
      <button class="close" onclick="document.getElementById('loser_modal').classList.remove('show');">
        <span>
          {{ or (index .TargetStrings "close") (index .DefaultStrings "close") }}
        </span>
      </button>
    </div>
  </div>

  <footer>
    <a href="https://go.dev">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-plain.svg" alt="Golang Logo" with="32" height="32" id="footer-golang-img">
      <p>
        {{ or (index .TargetStrings "footer-made-with") (index .DefaultStrings "footer-made-with") }}
      </p>
    </a>

    <a href="https://github.com/confused-Techie/Quotle">
      <img src="/images/github-black.svg" alt="Github's Octocat Icon" width="24" height="24" id="footer-github-img">
      <p>
        {{ or (index .TargetStrings "footer-source") (index .DefaultStrings "footer-source") }}
      </p>
    </a>

    <a href="https://feathericons.com">
      <img src="/images/feather-black.svg" alt="Feather Icon Project Logo" width="24" height="24" id="footer-feather-icon-img">
      <p>
        {{ or (index .TargetStrings "footer-feather") (index .DefaultStrings "footer-feather") }}
      </p>
    </a>

    <a href="https://www.themoviedb.org/">
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg" alt="The Movie Database Attribution Logo" widht="24" height="24">
      <p>
        {{ or (index .TargetStrings "footer-tmdb")  (index .DefaultStrings "footer-tmdb") }}
    </a>

  </footer>

  {{range .JS }}
    <script src="{{ . }}"></script>
  {{end}}

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

    <noscript>

    </noscript>

</body>
</html>
