
:root {
  --size-bezel: .5rem;
  --size-radius: 4px;

  --major-background-colour: #262626; /* Setting dark theme background to avoid white flash as content changes during load. */
}

body {
  background-color: var(--major-background-colour);
}

body.dark-theme {
  --title-background-colour: #6c0082;
  --modal-background-colour: #3b3b3b;
  --modal-text-colour: white;
  --major-background-colour: #262626;
  --border-colour: black;
  --guesses-text-colour: white;
}

body.light-theme {
  --title-background-colour: #6c0082;
  --modal-background-colour: #e8e8e8;
  --modal-text-colour: black;
  --major-background-colour: white;
  --border-colour: black;
  --guesses-text-colour: black;
}

.heading {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  height: 5vh;
  align-items: baseline;
}

.heading .about {
  grid-column: 1;
  grid-row: 1;
}

.heading .title-card {
  grid-column: 3;
  grid-row: 1;
}

.heading .title-card span {
  font-size: 1.8rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--title-background-colour);
  border-radius: var(--size-radius);
  font-family: 'Oswald', sans-serif;
}

.gameBoard .audio-player button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--title-background-colour);
  border-radius: var(--size-radius);
  border: none;
  cursor: pointer;
}

.user-guess {
  position: relative;
}

.user-guess .searchResult {
  position: absolute;
  background-color: var(--modal-background-colour);
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: var(--modal-text-colour);
  top: 6rem;
}

.user-guess .searchResult p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.user-guess button {
  display: inline-block;
  width: 19%;
  height: 2.5rem;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--title-background-colour);
  border-radius: var(--size-radius);
  border: none;
  cursor: pointer;
}

.user-guess button span {
  font-size: 1.5rem;
}

.heading .stats {
  grid-column: 4;
  grid-row: 1;
}

.heading .settings {
  grid-column: 5;
  grid-row: 1
}

.heading .stats img,
.heading .settings img,
.heading .about img {
  cursor: pointer;
}

.gameBoard {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.guesses div[class^="guess-"] {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: .18rem solid var(--border-colour);
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  margin-bottom: 2vh;
  color: var(--guesses-text-colour);
  background: transparent;
  border-radius: var(--size-radius);
  opacity: 0;
}

.guesses div[class^="guess-"].guessed {
  opacity: 1;
}

.user-guess .input_field {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  border: .18rem solid var(--border-colour);
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  margin-bottom: 5vh;
  margin-top: 3vh;
  color: var(--guesses-text-colour);
  background: transparent;
  border-radius: var(--size-radius);
  position: relative;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background-color: var(--modal-background-colour);
  margin: 15% auto;
  padding: 3rem;
  border: .08rem solid var(--border-colour);
  width: 40%;
  border-radius: var(--size-radius);
  text-align: center;
  color: var(--modal-text-colour);
}

/* Warning this is not yet tailored to theme */
.modal .modal-content.polka {
  background-image: radial-gradient(red, #212121 20%);
  background-position: 0, 0;
  background-size: 30px 30px;
}

footer {
  border-top: 2px solid var(--border-colour);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  font-family: "consolas", sans-serif;
  display: inline;
  margin-right: 10px;
}

/* Originally there was a collection of breakpoints per device resolutions based on Bootstraps breakpoint targets. But for the simplicity of this site, and my CSS capabilities, it may be more realistic */
/* To have breakpoints based on width and height values, to be more flexible */

/* ========== Small Width Breakpoint ============ */

@media screen and (max-width: 769px) {
  footer p {
    display: block;
  }
}

/* ========== EXTRA Small Width Breakpoint ========= */

@media screen and (max-width: 360px) {
  footer p {
    display: none;
  }
}

/* ========= Small Height Breakpoint ============ */

@media screen and (max-height: 1024px) {

}
